* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
.flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

ul.flex-container {
    list-style-type: none;
}

.card {
    background-color: #edf0f5;
    /* display: flex; */
    /* justify-content: space-between; */
    border-radius: 0.5rem;
    padding: .5rem;
    flex: 1 1 20rem;
    margin: .5rem;
}

.image-container {
    background-color: #fff;
    display: flex;
    align-items: center;
    border: .1rem solid #cccfd9;
    border-radius: 0.5rem;
    /* flex: 0 0 calc(40% - 0.5em); */
    width: 40%;
}

.image-container > div {
    /* display: flex; */
    padding: .5rem;
}

.hotel-logo {
    height: auto;
    max-width: 100%;
}

.hotel-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex: 0 1 calc(60% - 0.5em); */
    width: 60%;
}

.hotel-card-header {
    display: flex;
    justify-content: space-between;
}

.disabled-clicks {
    pointer-events: none;
}

.hotel-status-container {
    cursor: pointer;
    align-self: flex-start;
}

.hotel-status-icon {
    height: 1rem;
    width: 1rem;
    margin-left: .5rem;
}
