* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.hotels-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
}

ul.flex-container {
    list-style-type: none;
}

.card {
    background-color: #edf0f5;
    display: flex;
    border-radius: .5rem;
    padding: .5rem;
    transition: 0.3s;
    gap: .5rem;
}

.card:hover {
    cursor: pointer;
    /* border: 1px solid rgb(193, 199, 208); */
    background-color: #DEE1E5;
}

.btn {
    border-radius: .5rem;
    padding: .5rem;
    transition: .2s;
    cursor: pointer;
    border: none;
    font-weight: 500;
}

#updateHotelButton {
    width: 100%;
    line-height: 1.5;
}

.btn-blue {
    background-color: #1a73e8;
    color: white;
}

.image-container {
    background-color: #fff;
    border: .1rem solid #cccfd9;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    overflow: hidden;
    flex: 1;
    max-width: 100px;
}

.overflow-elipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.hotel-name {
    font-size: 1.2rem;
    line-break: anywhere;
}

.hotel-logo {
    height: auto;
    max-width: 100%;
}

.hotel-details {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: stretch;
}

.hotel-card-header {
    display: flex;
    flex-direction: column;
}

.selected-options-list {
    display: flex;
    gap: 0.1rem;
    list-style-type: none;
    flex-wrap: wrap;
    margin: auto 0px;
}

.gray-badge {
    color: #fff;
    background-color: #343a40;
    padding: .2rem;
    font-size: .7rem;
    font-weight: 700;
    line-height: 1;
    border-radius: .25rem;
}

.disabled-clicks {
    pointer-events: none;
}

.hotel-status-container {
    cursor: pointer;
    align-self: flex-start;
}

.hotel-status-icon {
    height: 1rem;
    width: 1rem;
}

.hotel-options {
    padding: 1rem;
    align-self: center;
}

.options-container {
    padding: 1rem;
}

.hotel-tag {
    color: rgb(7, 71, 166);
    background-color: rgb(222, 235, 255);
    font-weight: 700;
    text-transform: uppercase;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:rgba(9, 30, 66, 0.54);
}

.modal-content {
    display: flex;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .5rem;
    flex-direction: column;
    width: min(95vw, 600px);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: #DEE1E5; */
    padding: 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: 1px solid #e9ecef;
}

.modal-title {
    line-height: 1.5;
    font-size: 1.25rem;
    line-break: anywhere;
    font-weight: 700;
}

.modal-close {
    color: #aaaaaa;
    font-size: 1.25rem;
    font-weight: 700;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.form-element {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
}

.form-input {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    padding: .4rem .6rem;
    color: #495057;
    border: 1px solid rgb(223, 225, 230);
    border-radius: .2rem;
}
.form-input:hover{
    border-color: rgb(193, 199, 208);
}

.form-input:focus{
    background-color: transparent;
}

.hotels-container-wrapper {
    max-width: 960px;
    margin: 0px auto;
    padding: .5rem;
}

.form-error {
    font-size: .8rem;
    color: #da002f;
    padding-left: .5rem;
}

.disabled-btn {
    background-color: #cccfd9;
    color: #505664;
    cursor: not-allowed;
}

.hidden {
    display: none;
}

/*# sourceMappingURL=/app.ed7d1cf1.css.map */